@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&family=Montserrat:ital,wght@0,300;0,700;1,400&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    list-style: none;
    text-decoration: none;
}   
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
    --nav_footer: #324545;
    --bg: #D4FEFE;
    --tx: #324545;
}

body{
    color: var(--nav_footer)
    background: var(--bg);
}

.texto-suscripcion {
    color: #1cd6c7 !important;
  }
  
  
  #header img {
    width: 60px;
  }

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 38rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 20px;
}
.home-text .text-h2{
    font-size: 1.7rem;
    color: var(--red);
    margin-bottom: 1rem;
    font-family: 'JetBrains Mono', monospace;
    color: var(--tx);
}
.home-text .text-h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: var(--tx);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}
.text-h1 i{
    color: #324545;
    text-align: center;
}
.home-text p{
    margin-bottom: 1.5rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}
.home-text .text-h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #324545;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    color: var(--tx);
}
#botones{
    margin-left: 10px;
}
#formulario{
    background: var(--nav_footer);
    color: var(--bg);
    text-align: center;
}
#form-play{
   
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 2rem;
}
.home-btn:hover{
    background: #f15642;
    color: #1e1c2a;
}
.home-img img{
    width: 100%;
}
.descarga{
    display: flex;
    flex-direction: row;
}

.descarga .btn-play{
    width: 80px;
    height: 40px;
}


#seccion-beneficiarios {
    background-color: #324545 !important;
    color: var(--bg)
  }
  
  #seccion-beneficiarios img{
    max-width: 100%;
  }

  
  #test{
    width: 150px;
    height: 30px;
    margin-top: 10px;
  }
 #titulo-form{
    margin-top: 10px;
    padding-top: 10px;
 }



@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}


