#principal{
    margin-top: 100px;
}   
#place-time {
    background-color: #343a40 !important;
    color: white;
  }
  
  #place-time img{
    max-width: 100%;
  }

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47, 25%, #1e5372);
  }
  
  #footer a {
    color: white;
  
  }